<h2>
  {{ collections['frontpage'].title }}
</h2>
<p>
  {{ collections['frontpage'].description }}
</p>
{% for product in collections['frontpage'].products %}
  {% render 'product-item', product: product %}
{% endfor %}

<script>
  console.log('hellowsa')
</script>

<!-- <img src="{{ 'image.jpg' | asset_url }}" /> -->

<!-- {{- product.title | link_to: product.url }} -->
